{% extends 'website/base.html' %}
{% load humanize %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-multiline">
                {% for data in api.Data %}
                    <div class="column is-4-desktop is-half-tablet">
                        {% include 'website/components/news-card.html' %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}
