<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="{% url 'home' %}" class="navbar-item">Crypto News</a>
            <a role="button" class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-start">
                <a href="{% url 'home' %}" class="navbar-item">Home</a>
                <a href="{% url 'prices' %}" class="navbar-item">Prices</a>
            </div>
            <!-- <div class="navbar-end">
                <span class="navbar-item">
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="search" name="quote" class="input" placeholder="Search..">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </span>
            </div> -->
        </div>
    </div>
</header>