{% extends 'website/base.html' %}
{% load humanize %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Crypto Prices</h1>
            <div class="columns is-centered is-multiline">
                {% for crypto in price.data %}
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ crypto.cmc_rank }}. {{ crypto.name }}
                            </p>
                            <span class="card-header-icon">
                                <figure class="image is-32x32"></figure>
                            </span>
                        </header>
                        <div class="card-content">
                            <p>Price: ${{ crypto.quote.USD.price|floatformat:5|intcomma }}</p>
                            <p>Percent Change (24h): {{ crypto.quote.USD.percent_change_24h|floatformat:2|intcomma }}%</p>
                            <p>Market Cap: ${{ crypto.quote.USD.market_cap|floatformat:2|intcomma }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}