.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-card {
    position: relative;
}

.news-card:hover .image-overlay {
    opacity: 1;
}

.news-image {
    filter: brightness(20%)
}

.news-content {
    position: absolute;
    z-index: 10;
    margin-top: -160px;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #4068f5;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}