<div class="card news-card">
    <div class="card-image">
        <figure class="image is-16by9">
            <img class="news-image" src="{{ data.imageurl }}" alt="{{ data.source }}">
            <a href="{{ data.url }}">
                <div class="image-overlay">
                    <p class="is-size-4 has-text-white">Read More</p>
                </div>
            </a>
        </figure>
        
        <!-- <p>{{ data.published_on|date:'M j' }}</p> -->
    </div>
    <div class="card-content news-content">
        <h1 class="title is-size-5 news-title has-text-white" style="margin-bottom: 0.35rem !important;">{{ data.title }}</h1>
        <p class="news-body is-size-6 has-text-white">{{ data.body|truncatechars:80 }}</p>
    </div>
</div>